USE master;
GO

IF DB_ID('hotel') IS NOT NULL
BEGIN
    ALTER DATABASE hotel SET SINGLE_USER WITH ROLLBACK IMMEDIATE;
    DROP DATABASE hotel;
END
GO

CREATE DATABASE hotel;
GO

USE [hotel]
GO
/****** Object:  Table [dbo].[address]    Script Date: 2026-06-01 오후 11:40:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[address](
	[ano] [int] IDENTITY(1,1) NOT NULL,
	[aName] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[ano] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[hotel]    Script Date: 2026-06-01 오후 11:40:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[hotel](
	[hno] [int] IDENTITY(1,1) NOT NULL,
	[ono] [int] NULL,
	[hName] [varchar](50) NULL,
	[ratno] [int] NULL,
	[rno] [varchar](30) NULL,
	[ano] [int] NULL,
	[x] [int] NULL,
	[y] [int] NULL,
	[explanation] [varchar](300) NULL,
PRIMARY KEY CLUSTERED 
(
	[hno] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[owner]    Script Date: 2026-06-01 오후 11:40:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[owner](
	[ono] [int] IDENTITY(1,1) NOT NULL,
	[oname] [varchar](10) NULL,
	[id] [varchar](10) NULL,
	[pw] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[ono] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[rating]    Script Date: 2026-06-01 오후 11:40:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[rating](
	[ratno] [int] IDENTITY(1,1) NOT NULL,
	[percentage] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[ratno] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[reservation]    Script Date: 2026-06-01 오후 11:40:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[reservation](
	[rvno] [int] IDENTITY(1,1) NOT NULL,
	[uno] [int] NULL,
	[hno] [int] NULL,
	[rtno] [int] NULL,
	[sdate] [date] NULL,
	[day] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[rvno] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[review]    Script Date: 2026-06-01 오후 11:40:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[review](
	[reno] [int] IDENTITY(1,1) NOT NULL,
	[rvno] [int] NULL,
	[review] [varchar](500) NULL,
	[score] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[reno] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[roomtype]    Script Date: 2026-06-01 오후 11:40:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[roomtype](
	[rtno] [int] IDENTITY(1,1) NOT NULL,
	[rtname] [varchar](10) NULL,
	[baseprice] [int] NULL,
	[quantity] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[rtno] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[user]    Script Date: 2026-06-01 오후 11:40:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user](
	[uno] [int] IDENTITY(1,1) NOT NULL,
	[uname] [varchar](10) NULL,
	[id] [varchar](10) NULL,
	[pw] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[uno] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[address] ON 

INSERT [dbo].[address] ([ano], [aName]) VALUES (1, N'강남구')
INSERT [dbo].[address] ([ano], [aName]) VALUES (2, N'강동구')
INSERT [dbo].[address] ([ano], [aName]) VALUES (3, N'강북구')
SET IDENTITY_INSERT [dbo].[address] OFF
GO
SET IDENTITY_INSERT [dbo].[hotel] ON 

INSERT [dbo].[hotel] ([hno], [ono], [hName], [ratno], [rno], [ano], [x], [y], [explanation]) VALUES (1, 45, N'JW메리어트호텔 서울', 1, N'1,2,3,4,5', 2, 820, 360, N'품격과 세련미를 갖춘 호텔입니다.')
INSERT [dbo].[hotel] ([hno], [ono], [hName], [ratno], [rno], [ano], [x], [y], [explanation]) VALUES (2, 2, N'서울강남호텔', 5, N'1,2,3', 4, 170, 390, N'아늑한 분위기의 총 객실 305실을 갖추고 있습니다.')
INSERT [dbo].[hotel] ([hno], [ono], [hName], [ratno], [rno], [ano], [x], [y], [explanation]) VALUES (3, 13, N'더플라자', 2, N'1,2,3,4,5', 8, 290, 562, N'이 호텔은 도심의 중심에 위치하여 주요 관광지로의 접근성이 뛰어납니다.')
GO
SET IDENTITY_INSERT [dbo].[hotel] OFF
GO
SET IDENTITY_INSERT [dbo].[owner] ON 

INSERT [dbo].[owner] ([ono], [oname], [id], [pw]) VALUES (1, N'오유나', N'admin01', N'admin01!')
INSERT [dbo].[owner] ([ono], [oname], [id], [pw]) VALUES (2, N'조승환', N'admin02', N'admin02!')
INSERT [dbo].[owner] ([ono], [oname], [id], [pw]) VALUES (3, N'강솔', N'admin03', N'admin03!')
SET IDENTITY_INSERT [dbo].[owner] OFF
GO
SET IDENTITY_INSERT [dbo].[rating] ON 

INSERT [dbo].[rating] ([ratno], [percentage]) VALUES (1, 1)
INSERT [dbo].[rating] ([ratno], [percentage]) VALUES (2, 1.25)
INSERT [dbo].[rating] ([ratno], [percentage]) VALUES (3, 1.5)
SET IDENTITY_INSERT [dbo].[rating] OFF
GO
SET IDENTITY_INSERT [dbo].[reservation] ON 

INSERT [dbo].[reservation] ([rvno], [uno], [hno], [rtno], [sdate], [day]) VALUES (1, 26, 62, 1, CAST(N'2026-01-01' AS Date), 2)
INSERT [dbo].[reservation] ([rvno], [uno], [hno], [rtno], [sdate], [day]) VALUES (2, 38, 66, 1, CAST(N'2026-01-01' AS Date), 7)
INSERT [dbo].[reservation] ([rvno], [uno], [hno], [rtno], [sdate], [day]) VALUES (3, 13, 60, 1, CAST(N'2026-01-01' AS Date), 6)
GO
SET IDENTITY_INSERT [dbo].[reservation] OFF
GO
SET IDENTITY_INSERT [dbo].[review] ON 

INSERT [dbo].[review] ([reno], [rvno], [review], [score]) VALUES (1, 2986, N'적당적당한 줄 알았더니, 더 좋네요. 생각보다', 5)
INSERT [dbo].[review] ([reno], [rvno], [review], [score]) VALUES (2, 2201, N'호텔 아니여도 근처에 먹을 만한 곳이 많아사 근처에서 밥먹고 산책가고 호텔 시성 즐기고 너무 좋아용', 5)
INSERT [dbo].[review] ([reno], [rvno], [review], [score]) VALUES (3, 4298, N'사진이랑 다르게 생각보다 좋았어요~', 4)
GO
SET IDENTITY_INSERT [dbo].[review] OFF
GO
SET IDENTITY_INSERT [dbo].[roomtype] ON 

INSERT [dbo].[roomtype] ([rtno], [rtname], [baseprice], [quantity]) VALUES (1, N'Standard', 120000, 30)
INSERT [dbo].[roomtype] ([rtno], [rtname], [baseprice], [quantity]) VALUES (2, N'Superior', 150000, 20)
INSERT [dbo].[roomtype] ([rtno], [rtname], [baseprice], [quantity]) VALUES (3, N'Deluxe', 180000, 10)
SET IDENTITY_INSERT [dbo].[roomtype] OFF
GO
SET IDENTITY_INSERT [dbo].[user] ON 

INSERT [dbo].[user] ([uno], [uname], [id], [pw]) VALUES (1, N'김민수', N'user01', N'user01!')
INSERT [dbo].[user] ([uno], [uname], [id], [pw]) VALUES (2, N'이서연', N'user02', N'user02!')
INSERT [dbo].[user] ([uno], [uname], [id], [pw]) VALUES (3, N'박지훈', N'user03', N'user03!')
SET IDENTITY_INSERT [dbo].[user] OFF
GO
ALTER TABLE [dbo].[hotel]  WITH CHECK ADD  CONSTRAINT [FK_hotel_address] FOREIGN KEY([ano])
REFERENCES [dbo].[address] ([ano])
GO
ALTER TABLE [dbo].[hotel] CHECK CONSTRAINT [FK_hotel_address]
GO
ALTER TABLE [dbo].[hotel]  WITH CHECK ADD  CONSTRAINT [FK_hotel_owner] FOREIGN KEY([ono])
REFERENCES [dbo].[owner] ([ono])
GO
ALTER TABLE [dbo].[hotel] CHECK CONSTRAINT [FK_hotel_owner]
GO
ALTER TABLE [dbo].[hotel]  WITH CHECK ADD  CONSTRAINT [FK_hotel_rating] FOREIGN KEY([ratno])
REFERENCES [dbo].[rating] ([ratno])
GO
ALTER TABLE [dbo].[hotel] CHECK CONSTRAINT [FK_hotel_rating]
GO
ALTER TABLE [dbo].[reservation]  WITH CHECK ADD  CONSTRAINT [FK_reservation_hotel] FOREIGN KEY([hno])
REFERENCES [dbo].[hotel] ([hno])
GO
ALTER TABLE [dbo].[reservation] CHECK CONSTRAINT [FK_reservation_hotel]
GO
ALTER TABLE [dbo].[reservation]  WITH CHECK ADD  CONSTRAINT [FK_reservation_roomtype] FOREIGN KEY([rtno])
REFERENCES [dbo].[roomtype] ([rtno])
GO
ALTER TABLE [dbo].[reservation] CHECK CONSTRAINT [FK_reservation_roomtype]
GO
ALTER TABLE [dbo].[reservation]  WITH CHECK ADD  CONSTRAINT [FK_reservation_user] FOREIGN KEY([uno])
REFERENCES [dbo].[user] ([uno])
GO
ALTER TABLE [dbo].[reservation] CHECK CONSTRAINT [FK_reservation_user]
GO
ALTER TABLE [dbo].[review]  WITH CHECK ADD  CONSTRAINT [FK_review_reservation] FOREIGN KEY([rvno])
REFERENCES [dbo].[reservation] ([rvno])
GO
ALTER TABLE [dbo].[review] CHECK CONSTRAINT [FK_review_reservation]
GO
