USE [master]
GO
if exists (select * from sys.databases where name = 'webtoon')
	begin	
		alter database [webtoon] set single_user with rollback immediate;
		drop database [webtoon];
	end
go
/****** Object:  Database [webtoon]    Script Date: 2026-06-01 오후 8:12:45 ******/
CREATE DATABASE [webtoon]
GO
use[webtoon]
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [webtoon].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [webtoon]
GO
/****** Object:  Table [dbo].[days]    Script Date: 2026-06-01 오후 8:12:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[days](
	[dno] [int] IDENTITY(1,1) NOT NULL,
	[days] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_days] PRIMARY KEY CLUSTERED 
(
	[dno] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[genre]    Script Date: 2026-06-01 오후 8:12:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[genre](
	[gno] [int] IDENTITY(1,1) NOT NULL,
	[gname] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_genre] PRIMARY KEY CLUSTERED 
(
	[gno] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[mywebtoon]    Script Date: 2026-06-01 오후 8:12:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[mywebtoon](
	[mwno] [int] IDENTITY(1,1) NOT NULL,
	[uno] [int] NOT NULL,
	[wno] [int] NOT NULL,
 CONSTRAINT [PK_mywebtoon] PRIMARY KEY CLUSTERED 
(
	[mwno] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[mywriter]    Script Date: 2026-06-01 오후 8:12:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[mywriter](
	[mrno] [int] IDENTITY(1,1) NOT NULL,
	[uno] [int] NOT NULL,
	[wrno] [int] NOT NULL,
 CONSTRAINT [PK_mywriter] PRIMARY KEY CLUSTERED 
(
	[mrno] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[recent]    Script Date: 2026-06-01 오후 8:12:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[recent](
	[rno] [int] IDENTITY(1,1) NOT NULL,
	[uno] [int] NOT NULL,
	[wno] [int] NOT NULL,
 CONSTRAINT [PK_recent] PRIMARY KEY CLUSTERED 
(
	[rno] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[stars]    Script Date: 2026-06-01 오후 8:12:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[stars](
	[sno] [int] IDENTITY(1,1) NOT NULL,
	[uno] [int] NOT NULL,
	[wno] [int] NOT NULL,
	[stars] [int] NOT NULL,
 CONSTRAINT [PK_stars] PRIMARY KEY CLUSTERED 
(
	[sno] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[user]    Script Date: 2026-06-01 오후 8:12:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user](
	[uno] [int] IDENTITY(1,1) NOT NULL,
	[uname] [nvarchar](50) NOT NULL,
	[uid] [varchar](50) NOT NULL,
	[upw] [varchar](50) NOT NULL,
 CONSTRAINT [PK_user] PRIMARY KEY CLUSTERED 
(
	[uno] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[webtoon]    Script Date: 2026-06-01 오후 8:12:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[webtoon](
	[wno] [int] IDENTITY(1,1) NOT NULL,
	[wname] [nvarchar](50) NOT NULL,
	[wrno] [int] NOT NULL,
	[gno] [int] NOT NULL,
	[contents] [nvarchar](500) NOT NULL,
	[dno] [int] NOT NULL,
	[s_date] [date] NOT NULL,
	[star] [int] NOT NULL,
 CONSTRAINT [PK_webtoon] PRIMARY KEY CLUSTERED 
(
	[wno] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[writer]    Script Date: 2026-06-01 오후 8:12:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[writer](
	[wrno] [int] IDENTITY(1,1) NOT NULL,
	[writer] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_writer] PRIMARY KEY CLUSTERED 
(
	[wrno] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[days] ON 

INSERT [dbo].[days] ([dno], [days]) VALUES (1, N'월요웹툰')
INSERT [dbo].[days] ([dno], [days]) VALUES (2, N'화요웹툰')
INSERT [dbo].[days] ([dno], [days]) VALUES (3, N'수요웹툰')
SET IDENTITY_INSERT [dbo].[days] OFF
GO
SET IDENTITY_INSERT [dbo].[genre] ON 

INSERT [dbo].[genre] ([gno], [gname]) VALUES (1, N'로맨스')
INSERT [dbo].[genre] ([gno], [gname]) VALUES (2, N'판타지')
INSERT [dbo].[genre] ([gno], [gname]) VALUES (3, N'스릴러')
SET IDENTITY_INSERT [dbo].[genre] OFF
GO
SET IDENTITY_INSERT [dbo].[mywebtoon] ON 

INSERT [dbo].[mywebtoon] ([mwno], [uno], [wno]) VALUES (1, 1, 5)
INSERT [dbo].[mywebtoon] ([mwno], [uno], [wno]) VALUES (2, 1, 7)
INSERT [dbo].[mywebtoon] ([mwno], [uno], [wno]) VALUES (3, 3, 10)
SET IDENTITY_INSERT [dbo].[mywebtoon] OFF
GO
SET IDENTITY_INSERT [dbo].[mywriter] ON 

INSERT [dbo].[mywriter] ([mrno], [uno], [wrno]) VALUES (1, 1, 3)
INSERT [dbo].[mywriter] ([mrno], [uno], [wrno]) VALUES (2, 2, 20)
INSERT [dbo].[mywriter] ([mrno], [uno], [wrno]) VALUES (3, 5, 1)
SET IDENTITY_INSERT [dbo].[mywriter] OFF
GO
SET IDENTITY_INSERT [dbo].[recent] ON 

INSERT [dbo].[recent] ([rno], [uno], [wno]) VALUES (1, 1, 9)
INSERT [dbo].[recent] ([rno], [uno], [wno]) VALUES (2, 1, 7)
INSERT [dbo].[recent] ([rno], [uno], [wno]) VALUES (3, 7, 15)
SET IDENTITY_INSERT [dbo].[recent] OFF
GO
SET IDENTITY_INSERT [dbo].[stars] ON 

INSERT [dbo].[stars] ([sno], [uno], [wno], [stars]) VALUES (1, 1, 12, 4)
INSERT [dbo].[stars] ([sno], [uno], [wno], [stars]) VALUES (2, 7, 4, 5)
INSERT [dbo].[stars] ([sno], [uno], [wno], [stars]) VALUES (3, 7, 1, 3)
SET IDENTITY_INSERT [dbo].[stars] OFF
GO
SET IDENTITY_INSERT [dbo].[user] ON 

INSERT [dbo].[user] ([uno], [uname], [uid], [upw]) VALUES (1, N'김민준', N'user01!', N'user01!!')
INSERT [dbo].[user] ([uno], [uname], [uid], [upw]) VALUES (2, N'이서아', N'user02@', N'user02@@')
INSERT [dbo].[user] ([uno], [uname], [uid], [upw]) VALUES (3, N'박도윤', N'user03#', N'user03##')
SET IDENTITY_INSERT [dbo].[user] OFF
GO
SET IDENTITY_INSERT [dbo].[webtoon] ON 

INSERT [dbo].[webtoon] ([wno], [wname], [wrno], [gno], [contents], [dno], [s_date], [star]) VALUES (1, N'레모네이드', 1, 1, N'"가족처럼 지낸 소꿉친구가 있었다. 그 애와 나는 정말 ‘친구’인데 그 애의 첫 연애 소식을 듣고 무너져버렸다. 나 사실 걔를 좋아하고 있었구나..! 어떻게 해서든 이 짝사랑을 끝내야 해! 근데.. 그만 좋아하기가 왜 이렇게 힘든 거야? 짝사랑은 원래 이런 거야?! 레모네이드처럼 새콤하지만 달콤한 청춘들의 첫 시련, 첫사랑"', 3, CAST(N'2025-09-23' AS Date), 3)
INSERT [dbo].[webtoon] ([wno], [wname], [wrno], [gno], [contents], [dno], [s_date], [star]) VALUES (2, N'전지적 독자시점', 2, 2, N'"''이건 내가 아는 그 전개다'' 한순간에 세계가 멸망하고, 새로운 세상이 펼쳐졌다. 오직 나만이 완주했던 소설 세계에서 평범했던 독자의 새로운 삶이 시작된다."', 7, CAST(N'2020-05-26' AS Date), 4)
INSERT [dbo].[webtoon] ([wno], [wname], [wrno], [gno], [contents], [dno], [s_date], [star]) VALUES (3, N'킬러 배드로', 3, 5, N'"배신당한 노인킬러 회춘하다! 그런데... 아무도 날 못 알아봐?! ""그럼 내가 최강이지!"""', 6, CAST(N'2023-09-15' AS Date), 4)
SET IDENTITY_INSERT [dbo].[webtoon] OFF
GO
SET IDENTITY_INSERT [dbo].[writer] ON 

INSERT [dbo].[writer] ([wrno], [writer]) VALUES (1, N'혜루')
INSERT [dbo].[writer] ([wrno], [writer]) VALUES (2, N'슬리피-C')
INSERT [dbo].[writer] ([wrno], [writer]) VALUES (3, N'임리나')
SET IDENTITY_INSERT [dbo].[writer] OFF
GO
ALTER TABLE [dbo].[mywebtoon]  WITH CHECK ADD  CONSTRAINT [FK_mywebtoon_mywebtoon] FOREIGN KEY([uno])
REFERENCES [dbo].[user] ([uno])
GO
ALTER TABLE [dbo].[mywebtoon] CHECK CONSTRAINT [FK_mywebtoon_mywebtoon]
GO
ALTER TABLE [dbo].[mywebtoon]  WITH CHECK ADD  CONSTRAINT [FK_mywebtoon_mywebtoon1] FOREIGN KEY([wno])
REFERENCES [dbo].[webtoon] ([wno])
GO
ALTER TABLE [dbo].[mywebtoon] CHECK CONSTRAINT [FK_mywebtoon_mywebtoon1]
GO
ALTER TABLE [dbo].[mywriter]  WITH CHECK ADD  CONSTRAINT [FK_mywriter_mywriter] FOREIGN KEY([uno])
REFERENCES [dbo].[user] ([uno])
GO
ALTER TABLE [dbo].[mywriter] CHECK CONSTRAINT [FK_mywriter_mywriter]
GO
ALTER TABLE [dbo].[mywriter]  WITH CHECK ADD  CONSTRAINT [FK_mywriter_mywriter1] FOREIGN KEY([wrno])
REFERENCES [dbo].[writer] ([wrno])
GO
ALTER TABLE [dbo].[mywriter] CHECK CONSTRAINT [FK_mywriter_mywriter1]
GO
ALTER TABLE [dbo].[recent]  WITH CHECK ADD  CONSTRAINT [FK_recent_recent] FOREIGN KEY([uno])
REFERENCES [dbo].[user] ([uno])
GO
ALTER TABLE [dbo].[recent] CHECK CONSTRAINT [FK_recent_recent]
GO
ALTER TABLE [dbo].[recent]  WITH CHECK ADD  CONSTRAINT [FK_recent_recent1] FOREIGN KEY([wno])
REFERENCES [dbo].[webtoon] ([wno])
GO
ALTER TABLE [dbo].[recent] CHECK CONSTRAINT [FK_recent_recent1]
GO
ALTER TABLE [dbo].[stars]  WITH CHECK ADD  CONSTRAINT [FK_stars_stars] FOREIGN KEY([uno])
REFERENCES [dbo].[user] ([uno])
GO
ALTER TABLE [dbo].[stars] CHECK CONSTRAINT [FK_stars_stars]
GO
ALTER TABLE [dbo].[stars]  WITH CHECK ADD  CONSTRAINT [FK_stars_stars1] FOREIGN KEY([wno])
REFERENCES [dbo].[webtoon] ([wno])
GO
ALTER TABLE [dbo].[stars] CHECK CONSTRAINT [FK_stars_stars1]
GO
ALTER TABLE [dbo].[webtoon]  WITH CHECK ADD  CONSTRAINT [FK_webtoon_webtoon] FOREIGN KEY([wrno])
REFERENCES [dbo].[writer] ([wrno])
GO
ALTER TABLE [dbo].[webtoon] CHECK CONSTRAINT [FK_webtoon_webtoon]
GO
ALTER TABLE [dbo].[webtoon]  WITH CHECK ADD  CONSTRAINT [FK_webtoon_webtoon1] FOREIGN KEY([gno])
REFERENCES [dbo].[genre] ([gno])
GO
ALTER TABLE [dbo].[webtoon] CHECK CONSTRAINT [FK_webtoon_webtoon1]
GO
USE [master]
GO
