USE [master]
GO

if exists (select * from sys.databases where name = 'study_cafe')
	begin	
		alter database [study_cafe] set single_user with rollback immediate;
		drop database [study_cafe];
	end
go

CREATE DATABASE [study_cafe]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'study_cafe', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\study_cafe.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'study_cafe_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\study_cafe_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [study_cafe].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [study_cafe]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[outing](
	[ono] [int] IDENTITY(1,1) NOT NULL,
	[uno] [int] NOT NULL,
	[rno] [int] NOT NULL,
	[out_time] [time](7) NOT NULL,
	[in_time] [time](7) NULL,
	[out_day] [date] NOT NULL,
 CONSTRAINT [PK_outing] PRIMARY KEY CLUSTERED 
(
	[ono] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[reservation](
	[rno] [int] IDENTITY(1,1) NOT NULL,
	[uno] [int] NOT NULL,
	[sno] [int] NOT NULL,
	[r_date] [date] NOT NULL,
	[cafe_date] [date] NULL,
	[start_time] [time](7) NOT NULL,
	[end_time] [time](7) NOT NULL,
	[r_time] [int] NOT NULL,
	[floor] [int] NOT NULL,
	[pay] [int] NOT NULL,
 CONSTRAINT [PK_reservation] PRIMARY KEY CLUSTERED 
(
	[rno] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[seat]    Script Date: 2026-08-23 오후 4:22:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[seat](
	[sno] [int] IDENTITY(1,1) NOT NULL,
	[sname] [int] NOT NULL,
	[s_x] [int] NOT NULL,
	[s_y] [int] NOT NULL,
	[s_w] [int] NOT NULL,
	[s_h] [int] NOT NULL,
 CONSTRAINT [PK_seat] PRIMARY KEY CLUSTERED 
(
	[sno] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user](
	[uno] [int] IDENTITY(1,1) NOT NULL,
	[phone] [varchar](30) NOT NULL,
	[pw] [varchar](30) NOT NULL,
	[card] [varchar](30) NULL,
	[point] [int] NOT NULL,
 CONSTRAINT [PK_user] PRIMARY KEY CLUSTERED 
(
	[uno] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[outing] ON 

INSERT [dbo].[outing] ([ono], [uno], [rno], [out_time], [in_time], [out_day]) VALUES (1, 2, 14, CAST(N'10:00:00' AS Time), NULL, CAST(N'2026-08-23' AS Date))
SET IDENTITY_INSERT [dbo].[outing] OFF
GO
SET IDENTITY_INSERT [dbo].[reservation] ON 

INSERT [dbo].[reservation] ([rno], [uno], [sno], [r_date], [cafe_date], [start_time], [end_time], [r_time], [floor], [pay]) VALUES (1, 2, 1, CAST(N'2026-08-05' AS Date), CAST(N'2026-08-10' AS Date), CAST(N'10:00:00' AS Time), CAST(N'13:00:00' AS Time), 3, 1, 1)
INSERT [dbo].[reservation] ([rno], [uno], [sno], [r_date], [cafe_date], [start_time], [end_time], [r_time], [floor], [pay]) VALUES (2, 3, 2, CAST(N'2026-08-07' AS Date), CAST(N'2026-08-09' AS Date), CAST(N'13:00:00' AS Time), CAST(N'21:00:00' AS Time), 8, 2, 1)
INSERT [dbo].[reservation] ([rno], [uno], [sno], [r_date], [cafe_date], [start_time], [end_time], [r_time], [floor], [pay]) VALUES (3, 4, 1, CAST(N'2026-08-13' AS Date), CAST(N'2026-08-15' AS Date), CAST(N'09:00:00' AS Time), CAST(N'12:00:00' AS Time), 3, 1, 1)
SET IDENTITY_INSERT [dbo].[reservation] OFF
GO
SET IDENTITY_INSERT [dbo].[seat] ON 

INSERT [dbo].[seat] ([sno], [sname], [s_x], [s_y], [s_w], [s_h]) VALUES (1, 1, 51, 127, 15, 13)
INSERT [dbo].[seat] ([sno], [sname], [s_x], [s_y], [s_w], [s_h]) VALUES (2, 2, 67, 127, 16, 13)
INSERT [dbo].[seat] ([sno], [sname], [s_x], [s_y], [s_w], [s_h]) VALUES (3, 3, 83, 127, 16, 13)
SET IDENTITY_INSERT [dbo].[seat] OFF
GO
SET IDENTITY_INSERT [dbo].[user] ON 

INSERT [dbo].[user] ([uno], [phone], [pw], [card], [point]) VALUES (1, N'010-1234-5678', N'1234', N'1290567890123450', 20000)
INSERT [dbo].[user] ([uno], [phone], [pw], [card], [point]) VALUES (2, N'010-2345-6789', N'1256', N'2480590756201405', 15000)
INSERT [dbo].[user] ([uno], [phone], [pw], [card], [point]) VALUES (3, N'010-3456-7890', N'2569', N'0490782035106802', 14502)
SET IDENTITY_INSERT [dbo].[user] OFF
GO
USE [master]
GO
