

IF EXISTS (SELECT * FROM sys.databases WHERE name = N'Nexis_Mods')
begin
	ALTER DATABASE [Nexis_Mods] SET SINGLE_USER WITH ROLLBACK IMMEDIATE;
	DROP DATABASE [Nexis_Mods];
end
go

/****** 개체: Database [Nexis_Mods] 스크립트 날짜: 2026-06-04 오후 5:02:44 ******/
CREATE DATABASE [Nexis_Mods]
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Nexis_Mods].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Nexis_Mods]
GO
/****** 개체: Table [dbo].[comment] 스크립트 날짜: 2026-06-04 오후 5:02:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[comment](
	[c_no] [int] IDENTITY(1,1) NOT NULL,
	[dm_no] [int] NOT NULL,
	[comment] [varchar](250) NOT NULL,
	[c_date] [datetime] NOT NULL,
	[like_count] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[c_no] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** 개체: Table [dbo].[downloaded_mods] 스크립트 날짜: 2026-06-04 오후 5:02:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[downloaded_mods](
	[dm_no] [int] IDENTITY(1,1) NOT NULL,
	[u_no] [int] NOT NULL,
	[m_no] [int] NOT NULL,
	[dm_date] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[dm_no] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** 개체: Table [dbo].[favorite_game] 스크립트 날짜: 2026-06-04 오후 5:02:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[favorite_game](
	[fg_no] [int] IDENTITY(1,1) NOT NULL,
	[u_no] [int] NOT NULL,
	[g_no] [int] NOT NULL,
	[added_date] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[fg_no] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** 개체: Table [dbo].[favorite_user] 스크립트 날짜: 2026-06-04 오후 5:02:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[favorite_user](
	[fu_no] [int] IDENTITY(1,1) NOT NULL,
	[follower_u_no] [int] NOT NULL,
	[followee_u_no] [int] NOT NULL,
	[added_date] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[fu_no] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** 개체: Table [dbo].[game_genre] 스크립트 날짜: 2026-06-04 오후 5:02:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[game_genre](
	[g_gr_no] [int] IDENTITY(1,1) NOT NULL,
	[g_gr_name] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[g_gr_no] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** 개체: Table [dbo].[games] 스크립트 날짜: 2026-06-04 오후 5:02:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[games](
	[g_no] [int] IDENTITY(1,1) NOT NULL,
	[g_title] [varchar](100) NOT NULL,
	[g_added_date] [date] NOT NULL,
	[gr_no] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[g_no] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** 개체: Table [dbo].[mods] 스크립트 날짜: 2026-06-04 오후 5:02:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[mods](
	[m_no] [int] IDENTITY(1,1) NOT NULL,
	[m_title] [varchar](100) NOT NULL,
	[m_explan] [varchar](500) NOT NULL,
	[m_date] [date] NOT NULL,
	[g_no] [int] NOT NULL,
	[m_gr_no] [int] NOT NULL,
	[u_no] [int] NOT NULL,
	[m_like_count] [int] NOT NULL,
	[m_view_count] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[m_no] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** 개체: Table [dbo].[mods_genre] 스크립트 날짜: 2026-06-04 오후 5:02:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[mods_genre](
	[m_gr_no] [int] IDENTITY(1,1) NOT NULL,
	[m_gr_name] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[m_gr_no] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** 개체: Table [dbo].[users] 스크립트 날짜: 2026-06-04 오후 5:02:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[u_no] [int] IDENTITY(1,1) NOT NULL,
	[u_name] [varchar](15) NOT NULL,
	[u_nick] [varchar](50) NOT NULL,
	[u_email] [varchar](100) NOT NULL,
	[u_explan] [varchar](255) NOT NULL,
	[u_id] [varchar](255) NOT NULL,
	[u_pw] [varchar](100) NOT NULL,
	[u_like_count] [int] NOT NULL,
	[u_view_count] [int] NOT NULL,
	[u_first_active_date] [date] NOT NULL,
	[u_last_active_date] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[u_no] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[comment] ON 

INSERT [dbo].[comment] ([c_no], [dm_no], [comment], [c_date], [like_count]) VALUES (1, 239, N'처음 적용했을 때부터 직관적으로 이해하기 쉬운 구조입니다. 불필요한 요소가 없어 깔끔한 인상을 줍니다.', CAST(N'2026-04-07T00:00:00.000' AS DateTime), 48)
INSERT [dbo].[comment] ([c_no], [dm_no], [comment], [c_date], [like_count]) VALUES (2, 128, N'다른 모드와 함께 사용해도 충돌 없이 잘 작동하는 편입니다. 전체적인 밸런스가 무너지지 않는 점이 좋았습니다.', CAST(N'2026-04-23T00:00:00.000' AS DateTime), 0)
INSERT [dbo].[comment] ([c_no], [dm_no], [comment], [c_date], [like_count]) VALUES (3, 284, N'설정이 과하지 않아서 기본 게임 분위기를 유지해 줍니다. 소규모 개선이지만 체감 효과는 분명합니다.', CAST(N'2025-04-29T00:00:00.000' AS DateTime), 5)
GO
SET IDENTITY_INSERT [dbo].[comment] OFF
GO
SET IDENTITY_INSERT [dbo].[downloaded_mods] ON 

INSERT [dbo].[downloaded_mods] ([dm_no], [u_no], [m_no], [dm_date]) VALUES (1, 48, 28, CAST(N'2025-10-16' AS Date))
INSERT [dbo].[downloaded_mods] ([dm_no], [u_no], [m_no], [dm_date]) VALUES (2, 41, 3, CAST(N'2025-07-08' AS Date))
INSERT [dbo].[downloaded_mods] ([dm_no], [u_no], [m_no], [dm_date]) VALUES (3, 15, 53, CAST(N'2026-01-18' AS Date))
GO
SET IDENTITY_INSERT [dbo].[downloaded_mods] OFF
GO
SET IDENTITY_INSERT [dbo].[favorite_game] ON 

INSERT [dbo].[favorite_game] ([fg_no], [u_no], [g_no], [added_date]) VALUES (1, 3, 4, CAST(N'2023-10-13' AS Date))
INSERT [dbo].[favorite_game] ([fg_no], [u_no], [g_no], [added_date]) VALUES (2, 3, 10, CAST(N'2026-08-04' AS Date))
INSERT [dbo].[favorite_game] ([fg_no], [u_no], [g_no], [added_date]) VALUES (3, 3, 12, CAST(N'2025-03-20' AS Date))
GO
SET IDENTITY_INSERT [dbo].[favorite_game] OFF
GO
SET IDENTITY_INSERT [dbo].[favorite_user] ON 

INSERT [dbo].[favorite_user] ([fu_no], [follower_u_no], [followee_u_no], [added_date]) VALUES (1, 14, 41, CAST(N'2025-01-06' AS Date))
INSERT [dbo].[favorite_user] ([fu_no], [follower_u_no], [followee_u_no], [added_date]) VALUES (2, 17, 22, CAST(N'2025-08-20' AS Date))
INSERT [dbo].[favorite_user] ([fu_no], [follower_u_no], [followee_u_no], [added_date]) VALUES (3, 17, 49, CAST(N'2025-11-27' AS Date))
GO
SET IDENTITY_INSERT [dbo].[favorite_user] OFF
GO
SET IDENTITY_INSERT [dbo].[game_genre] ON 

INSERT [dbo].[game_genre] ([g_gr_no], [g_gr_name]) VALUES (1, N'RPG')
INSERT [dbo].[game_genre] ([g_gr_no], [g_gr_name]) VALUES (2, N'오픈월드')
INSERT [dbo].[game_genre] ([g_gr_no], [g_gr_name]) VALUES (3, N'FPS')
SET IDENTITY_INSERT [dbo].[game_genre] OFF
GO
SET IDENTITY_INSERT [dbo].[games] ON 

INSERT [dbo].[games] ([g_no], [g_title], [g_added_date], [gr_no]) VALUES (1, N'Skyrim', CAST(N'2026-02-12' AS Date), N'1,2,7')
INSERT [dbo].[games] ([g_no], [g_title], [g_added_date], [gr_no]) VALUES (2, N'Cyberpunk 2077', CAST(N'2023-01-24' AS Date), N'3,2,7')
INSERT [dbo].[games] ([g_no], [g_title], [g_added_date], [gr_no]) VALUES (3, N'Baldur''s Gate 3', CAST(N'2024-03-21' AS Date), N'1,6,7')
SET IDENTITY_INSERT [dbo].[games] OFF
GO
SET IDENTITY_INSERT [dbo].[mods] ON 

INSERT [dbo].[mods] ([m_no], [m_title], [m_explan], [m_date], [g_no], [m_gr_no], [u_no], [m_like_count], [m_view_count]) VALUES (1, N'Forza Horizon 5 - Ultra Realistic Graphics Reshade', N'This Reshade was developed to enhance the visual realism of Forza Horizon 5, improving lighting, contrast, and color accuracy. Tracks feature sharper details, and all cars reflect the environment with impressive precision, delivering a cinematic, detailed, and realistic visual experience.', CAST(N'2025-03-27' AS Date), 19, 8, 37, 219, 741)
INSERT [dbo].[mods] ([m_no], [m_title], [m_explan], [m_date], [g_no], [m_gr_no], [u_no], [m_like_count], [m_view_count]) VALUES (2, N'Trigger Vibration Fix', N'Right Trigger now correctly vibrates in reverse gear for Manual Transmission users.', CAST(N'2025-02-17' AS Date), 19, 10, 42, 246, 834)
INSERT [dbo].[mods] ([m_no], [m_title], [m_explan], [m_date], [g_no], [m_gr_no], [u_no], [m_like_count], [m_view_count]) VALUES (3, N'NFS heat Style Backfire', N'increase backfire duration', CAST(N'2025-05-21' AS Date), 19, 8, 29, 174, 599)
GO
SET IDENTITY_INSERT [dbo].[mods] OFF
GO
SET IDENTITY_INSERT [dbo].[mods_genre] ON 

INSERT [dbo].[mods_genre] ([m_gr_no], [m_gr_name]) VALUES (1, N'캐릭터')
INSERT [dbo].[mods_genre] ([m_gr_no], [m_gr_name]) VALUES (2, N'스킨')
INSERT [dbo].[mods_genre] ([m_gr_no], [m_gr_name]) VALUES (3, N'맵')
SET IDENTITY_INSERT [dbo].[mods_genre] OFF
GO
SET IDENTITY_INSERT [dbo].[users] ON 

INSERT [dbo].[users] ([u_no], [u_name], [u_nick], [u_email], [u_explan], [u_id], [u_pw], [u_like_count], [u_view_count], [u_first_active_date], [u_last_active_date]) VALUES (1, N'Han Yuna', N'PixelSmith', N'yhan1@naver.com', N'게임 디자인을 전공 중이며 모드 커뮤니티에서 활동하고 있습니다. 새로운 기술을 배우는 걸 좋아해요.', N'yhan1', N'Rune189?', 46, 218, CAST(N'2020-10-16' AS Date), CAST(N'2024-08-17' AS Date))
INSERT [dbo].[users] ([u_no], [u_name], [u_nick], [u_email], [u_explan], [u_id], [u_pw], [u_like_count], [u_view_count], [u_first_active_date], [u_last_active_date]) VALUES (2, N'Rudeus greyrat', N'RoxyLover', N'eris@gmail.com', N'작은 유틸리티 모드를 만들어서 공유하고 있어요. ', N'SylphieLover', N'user02!$', 65, 291, CAST(N'2019-01-26' AS Date), CAST(N'2025-02-27' AS Date))
INSERT [dbo].[users] ([u_no], [u_name], [u_nick], [u_email], [u_explan], [u_id], [u_pw], [u_like_count], [u_view_count], [u_first_active_date], [u_last_active_date]) VALUES (3, N'Cho Hyesung', N'SableWing', N'hcho3@gmail.com', N'모딩 초보지만 배우는 것을 즐깁니다. 가끔 번역도 맡습니다.
', N'ajsh3', N'Sarada432*', 110, 456, CAST(N'2019-10-09' AS Date), CAST(N'2026-05-17' AS Date))
SET IDENTITY_INSERT [dbo].[users] OFF
GO
ALTER TABLE [dbo].[comment]  WITH CHECK ADD FOREIGN KEY([dm_no])
REFERENCES [dbo].[downloaded_mods] ([dm_no])
GO
ALTER TABLE [dbo].[downloaded_mods]  WITH CHECK ADD FOREIGN KEY([m_no])
REFERENCES [dbo].[mods] ([m_no])
GO
ALTER TABLE [dbo].[downloaded_mods]  WITH CHECK ADD FOREIGN KEY([u_no])
REFERENCES [dbo].[users] ([u_no])
GO
ALTER TABLE [dbo].[favorite_game]  WITH CHECK ADD FOREIGN KEY([g_no])
REFERENCES [dbo].[games] ([g_no])
GO
ALTER TABLE [dbo].[favorite_game]  WITH CHECK ADD FOREIGN KEY([u_no])
REFERENCES [dbo].[users] ([u_no])
GO
ALTER TABLE [dbo].[favorite_user]  WITH CHECK ADD FOREIGN KEY([follower_u_no])
REFERENCES [dbo].[users] ([u_no])
GO
ALTER TABLE [dbo].[favorite_user]  WITH CHECK ADD FOREIGN KEY([followee_u_no])
REFERENCES [dbo].[users] ([u_no])
GO
ALTER TABLE [dbo].[mods]  WITH CHECK ADD FOREIGN KEY([g_no])
REFERENCES [dbo].[games] ([g_no])
GO
ALTER TABLE [dbo].[mods]  WITH CHECK ADD FOREIGN KEY([m_gr_no])
REFERENCES [dbo].[mods_genre] ([m_gr_no])
GO
ALTER TABLE [dbo].[mods]  WITH CHECK ADD FOREIGN KEY([u_no])
REFERENCES [dbo].[users] ([u_no])
GO
USE [master]
GO
