USE [master]
GO

if exists (select * from sys.databases where name = 'plan_skill')
	begin	
		alter database [plan_skill] set single_user with rollback immediate;
		drop database [plan_skill]
	end
go

CREATE DATABASE [plan_skill]
GO

USE [plan_skill]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ancestry](
	[ano] [int] IDENTITY(1,1) NOT NULL,
	[price] [int] NOT NULL,
	[cno] [int] NOT NULL,
	[context] [varchar](100) NOT NULL,
	[type] [int] NOT NULL,
	[uno] [int] NOT NULL,
	[date] [date] NOT NULL,
 CONSTRAINT [PK_ancestry] PRIMARY KEY CLUSTERED 
(
	[ano] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[category](
	[cno] [int] IDENTITY(1,1) NOT NULL,
	[cname] [varchar](100) NOT NULL,
 CONSTRAINT [PK_category] PRIMARY KEY CLUSTERED 
(
	[cno] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[diary](
	[dno] [int] IDENTITY(1,1) NOT NULL,
	[d_context] [nchar](500) NOT NULL,
	[date] [date] NOT NULL,
	[uno] [int] NULL,
 CONSTRAINT [PK_diary] PRIMARY KEY CLUSTERED 
(
	[dno] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[objective](
	[ono] [int] IDENTITY(1,1) NOT NULL,
	[oname] [varchar](100) NULL,
	[ocontext] [varchar](500) NULL,
	[write_date] [date] NULL,
	[date] [date] NULL,
 CONSTRAINT [PK_objective] PRIMARY KEY CLUSTERED 
(
	[ono] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[schedule](
	[sno] [int] IDENTITY(1,1) NOT NULL,
	[sname] [varchar](100) NOT NULL,
	[scontext] [varchar](500) NOT NULL,
	[sdate] [date] NOT NULL,
	[uno] [int] NOT NULL,
 CONSTRAINT [PK_schedule] PRIMARY KEY CLUSTERED 
(
	[sno] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user](
	[uno] [int] IDENTITY(1,1) NOT NULL,
	[uname] [varchar](100) NOT NULL,
	[id] [varchar](100) NULL,
	[pw] [varchar](100) NULL,
 CONSTRAINT [PK_user] PRIMARY KEY CLUSTERED 
(
	[uno] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ancestry] ON 

INSERT [dbo].[ancestry] ([ano], [price], [cno], [context], [type], [uno], [date]) VALUES (1, 100000, 3, N'셔츠- 37000원,바지-50000원,양말-13000원', 0, 1, CAST(N'2026-08-07' AS Date))
INSERT [dbo].[ancestry] ([ano], [price], [cno], [context], [type], [uno], [date]) VALUES (2, 57800, 2, N'외식', 0, 1, CAST(N'2026-08-08' AS Date))
INSERT [dbo].[ancestry] ([ano], [price], [cno], [context], [type], [uno], [date]) VALUES (3, 780000, 7, N'집세', 1, 1, CAST(N'2026-08-10' AS Date))
SET IDENTITY_INSERT [dbo].[ancestry] OFF
GO
SET IDENTITY_INSERT [dbo].[category] ON 

INSERT [dbo].[category] ([cno], [cname]) VALUES (1, N'교통비')
INSERT [dbo].[category] ([cno], [cname]) VALUES (2, N'식비')
INSERT [dbo].[category] ([cno], [cname]) VALUES (3, N'의류')
SET IDENTITY_INSERT [dbo].[category] OFF
GO
SET IDENTITY_INSERT [dbo].[diary] ON 

SET IDENTITY_INSERT [dbo].[diary] OFF
GO
SET IDENTITY_INSERT [dbo].[objective] ON 

INSERT [dbo].[objective] ([ono], [oname], [ocontext], [write_date], [date]) VALUES (1, N'한국사 자격증 취득', N'한국사 자격을 취득하기 위해 공부를 시작하자!!!!!', CAST(N'2026-08-01' AS Date), CAST(N'2026-10-07' AS Date))
INSERT [dbo].[objective] ([ono], [oname], [ocontext], [write_date], [date]) VALUES (2, N'운동하기', N'매일 1시간씩 운동하기', CAST(N'2026-08-03' AS Date), CAST(N'2026-10-28' AS Date))
INSERT [dbo].[objective] ([ono], [oname], [ocontext], [write_date], [date]) VALUES (3, N'영어 회화 실력 향상', N'해외 여행과 다양한 외국인과의 의사소통을 위해 매일 영어 단어를 암기하고 영어 회화 영상을 시청하며 꾸준하게 회화 연습을 진행한다. 또한 실제 상황에서 자연스럽게 말할 수 있도록 문장 만들기와 발음 연습도 함께 진행한다.', CAST(N'2026-08-10' AS Date), CAST(N'2026-09-30' AS Date))
SET IDENTITY_INSERT [dbo].[objective] OFF
GO
SET IDENTITY_INSERT [dbo].[schedule] ON 

INSERT [dbo].[schedule] ([sno], [sname], [scontext], [sdate], [uno]) VALUES (1, N'동아리 회의', N'프로젝트 진행 상황 공유 및 역할 분담', CAST(N'2026-08-01' AS Date), 1)
INSERT [dbo].[schedule] ([sno], [sname], [scontext], [sdate], [uno]) VALUES (2, N'전기기능사 실기 연습', N'배관 및 배선 작업 연습', CAST(N'2026-08-02' AS Date), 1)
INSERT [dbo].[schedule] ([sno], [sname], [scontext], [sdate], [uno]) VALUES (3, N'병원 예약', N'정기 건강검진 방문', CAST(N'2026-08-04' AS Date), 1)
SET IDENTITY_INSERT [dbo].[schedule] OFF
GO
SET IDENTITY_INSERT [dbo].[user] ON 

INSERT [dbo].[user] ([uno], [uname], [id], [pw]) VALUES (1, N'이준호', N'user01', N'user01!')
INSERT [dbo].[user] ([uno], [uname], [id], [pw]) VALUES (2, N'홍길동', N'user02', N'user02!')
INSERT [dbo].[user] ([uno], [uname], [id], [pw]) VALUES (3, N'최서연', N'user03', N'user03!')
SET IDENTITY_INSERT [dbo].[user] OFF
GO
