USE [master]
GO

if exists (select * from sys.databases where name = 'SkillBank')
	begin	
		alter database [SkillBank]set single_user with rollback immediate;
		drop database [SkillBank]
	end
go

CREATE DATABASE [SkillBank]
GO

USE [SkillBank]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[account](
	[ano] [int] IDENTITY(1,1) NOT NULL,
	[anumber] [varchar](100) NOT NULL,
	[cno] [int] NOT NULL,
	[register_date] [date] NOT NULL,
	[status] [int] NOT NULL,
 CONSTRAINT [PK_account] PRIMARY KEY CLUSTERED 
(
	[ano] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bank_clerk](
	[uno] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](50) NOT NULL,
	[id] [varchar](50) NOT NULL,
	[pw] [varchar](50) NOT NULL
) ON [PRIMARY]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[cno] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](100) NOT NULL,
	[phone] [varchar](100) NOT NULL,
	[address] [varchar](100) NOT NULL,
	[birth] [date] NOT NULL,
	[uno] [int] NOT NULL,
 CONSTRAINT [PK_Customer] PRIMARY KEY CLUSTERED 
(
	[cno] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TransactionList](
	[tno] [int] IDENTITY(1,1) NOT NULL,
	[ano] [int] NOT NULL,
	[tdate] [datetime] NOT NULL,
	[ttype] [nvarchar](10) NOT NULL,
	[price] [int] NOT NULL,
	[balance] [int] NOT NULL,
	[memo] [nvarchar](100) NULL,
 CONSTRAINT [PK__Transact__DC10824FE45ADFBA] PRIMARY KEY CLUSTERED 
(
	[tno] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[account] ON 

INSERT [dbo].[account] ([ano], [anumber], [cno], [register_date], [status]) VALUES (1, N'110-123-456789', 1, CAST(N'2008-03-16' AS Date), 1)
INSERT [dbo].[account] ([ano], [anumber], [cno], [register_date], [status]) VALUES (2, N'351-205-45802', 2, CAST(N'2026-05-05' AS Date), 1)
INSERT [dbo].[account] ([ano], [anumber], [cno], [register_date], [status]) VALUES (3, N'624-1401-825736', 3, CAST(N'2026-05-05' AS Date), 1)
SET IDENTITY_INSERT [dbo].[account] OFF
GO
SET IDENTITY_INSERT [dbo].[bank_clerk] ON 

INSERT [dbo].[bank_clerk] ([uno], [name], [id], [pw]) VALUES (1, N'하정우', N'user01', N'user01!')
INSERT [dbo].[bank_clerk] ([uno], [name], [id], [pw]) VALUES (2, N'김철수', N'user02', N'user02!')
INSERT [dbo].[bank_clerk] ([uno], [name], [id], [pw]) VALUES (3, N'김창열', N'user03', N'user03!')
SET IDENTITY_INSERT [dbo].[bank_clerk] OFF
GO
SET IDENTITY_INSERT [dbo].[Customer] ON 

INSERT [dbo].[Customer] ([cno], [name], [phone], [address], [birth], [uno]) VALUES (1, N'유지원', N'010-1588-1588', N'서울 중구 퇴계로44길 11 문화빌딩', CAST(N'2000-08-07' AS Date), 1)
INSERT [dbo].[Customer] ([cno], [name], [phone], [address], [birth], [uno]) VALUES (2, N'김광원', N'010-5784-8901', N'경기 부천시 소사구 경인로9번길 25', CAST(N'2000-08-07' AS Date), 1)
INSERT [dbo].[Customer] ([cno], [name], [phone], [address], [birth], [uno]) VALUES (3, N'구동원', N'010-9595-9595', N'경상북도 경주시 황남동 108-1', CAST(N'2000-08-07' AS Date), 1)
SET IDENTITY_INSERT [dbo].[Customer] OFF
GO
SET IDENTITY_INSERT [dbo].[TransactionList] ON 

INSERT [dbo].[TransactionList] ([tno], [ano], [tdate], [ttype], [price], [balance], [memo]) VALUES (1, 1, CAST(N'2026-07-10T14:32:21.000' AS DateTime), N'입금', 1000000, 1000000, N'급여')
INSERT [dbo].[TransactionList] ([tno], [ano], [tdate], [ttype], [price], [balance], [memo]) VALUES (2, 1, CAST(N'2026-07-11T06:00:12.000' AS DateTime), N'출금', 50000, 950000, N'ATM 출금')
INSERT [dbo].[TransactionList] ([tno], [ano], [tdate], [ttype], [price], [balance], [memo]) VALUES (3, 1, CAST(N'2026-07-12T17:30:00.000' AS DateTime), N'입금', 300000, 1250000, N'용돈')
SET IDENTITY_INSERT [dbo].[TransactionList] OFF
GO
